@import "variables";
@import "mixins";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    min-width: 1000px;
}
a {
    text-decoration: none;
}

header hgroup {
    width: 960px;
    min-height: 147px;
    //background: #fff url("../images/logo.png") no-repeat 0 0;
    border-left: 5px solid #a70000;
    color: #a70000;
    margin: 40px auto 46px auto;
    padding: 0;
}
header h1 {
    margin: 0 0 17px 32px;
    padding: 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 53px;
    white-space: pre-line;

    a {
        color: inherit;
    }
}
header h2 {
    float: left;
    margin: 0;
    padding: 0 12px 0 32px;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
}
header h2 + h2 {
    border-left: 2px solid #a70000;
    padding-left: 12px;
}

header nav {
    background: #f6f6f1 url("../images/pattern.png") repeat 50% 0;
    font-size: 25px;
    font-weight: 300;
}
header nav ul {
    list-style-type: none;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid #dfdfdf;
    @include box-shadow(inset 1px 0 0 #fff);
}
header nav li {
    float: left;
    margin: 0;
    padding: 0;
    border-right: 1px solid #dfdfdf;
    @include box-shadow(1px 0 0 #fff);

    &:hover {
        background-color: rgba(220,31,0,0.2);
    }

    &.sel {
        @include background-linear-gradient(#a70000, #dc1f00);
    }
}
header nav a {
    padding: 20px 40px;
    color: #8b0200;
    display: block;
    background-image: url("../images/icons/sprite.png");
    background-position: 40px 47%;
    background-repeat: no-repeat;
}
header nav a:hover {
}
header nav .sel a {
    color: #fff;
}

.team {
    text-indent: 46px;
    background-position: 40px 47%;

    .sel & {
        background-position: -710px 47%;
    }
}
.doctors,
.focus {
    text-indent: 38px;
    background-position: -210px 47%;

    .sel & {
        background-position: -960px 47%;
    }
}
.appointment {
    text-indent: 42px;
    background-position: -460px 47%;

    .sel & {
        background-position: -1210px 47%;
    }
}

#content {
    min-height: 325px;
    position: relative;
    // margin-left: -20px;
    // padding-left: 20px;
    @include box-shadow(inset 0 10px 10px -10px rgba(0,0,0,0.37), inset 0 -10px 10px -10px rgba(0,0,0,0.37));
    background: #f7f7f7 url("../images/bg_content.png") 0% 0% repeat;
}

#stage {
    background-color: #fff;
    min-height: 255px;
    padding: 35px 40px;
    width: 880px; // 960
    margin: 0 auto;
    @include box-shadow(inherit);
    color: #572500;

    a {
        color: #572500;
        &:hover { text-decoration: underline; }
    }

    p, ul { margin: 0 0 1.4em 0; }
    p:last-child { margin-bottom: 0; }

    &.slider {
        padding: 25px 0px;
        width: 960px;
        height: 275px;
    }
}

#slider {
    width: 763px;
    height: 275px;
    overflow: hidden;
    color: #572500;
    background: #fff;
    font-size: 14px;
    line-height: 1.2857;

    ul.slides {
        margin: 0;
        padding: 0;
        width: 4000px;
        position: relative;
        left: 0;
        -webkit-transition: left 0.4s;
           -moz-transition: left 0.4s;
             -o-transition: left 0.4s;
                transition: left 0.4s;

        & > li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: left;
            width: 763px;
            position: relative;
        }
    }

    a.previous,
    a.next {
        position: absolute;
        top: 115px;
        width: 20px;
        height: 34px;
        background: transparent url("../images/icons/arrows.png") 0 0 no-repeat;
    }

    a.previous { left: 20px; }
    a.next { right: 20px; background-position: -20px 0; }

    h3 {
        font-size: 20px;
        font-weight: 300;
        margin: 0 0 10px 0;
    }

    .doctor {
        position: relative;
        height: 250px;
        margin: 25px 85px 0 94px;
    }

    .info {
        margin-left: 220px;
    }

    img {
        float: left;
        margin-right: 20px;
        width: 200px;
        position: absolute;
        clip: rect(0px,200px,200px,0px);
    }

    dl {
        float: left;
        width: 380px;
        margin: 0;
        padding: 0;

        dt { float: left; width: 80px; }
        dd { margin-left: 80px; }
    }

    ol.links {
        clear: both;
        margin: 0;
        padding: 0;
        // width: 100px;
        position: absolute;
        left: 50%;
        bottom: 0px;
        list-style-type: none;

        li {
            float: left;
            margin: 0 8px 0 0;
        }

        a {
            width: 12px;
            height: 12px;
            display: block;

            border: 2px solid $dotColor;
            @include border-radius(12px);
            @include box-sizing(border-box);

            &.selected {
                background-color: $dotColor;
            }
        }
    }
}


#content.map,
#map {
    width: 100%;
    height: 325px;
}
#content div.shadow_top {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    @include box-shadow(inset 0 10px 10px -10px rgba(0,0,0,0.37));
}
#content div.shadow_bottom {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    @include box-shadow(inset 0 -10px 10px -10px rgba(0,0,0,0.37));
}

#global {
    background: #f6f6f1 url("../images/pattern.png") repeat 50% 0;
}
#global div {
    width: 960px;
    margin: 0 auto;
    padding: 23px 0;
}
#global aside {
    width: 244px;
    min-height: 133px;
    float: left;
    margin-right: 30px;
    padding: 20px;
    @include box-sizing(border-box);
    @include border-radius(3px);
    color: #fff;
    @include background-linear-gradient(#c41700, #8c0000);
    @include box-shadow(inset 1px 0 0 0 rgba(0,0,0,0.2), 1px 1px 0 #fff);
}
#global aside p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.2941;
    margin: 0;
}
#global aside p + p {
    margin-top: 5px;
}
#global aside strong {
    font-weight: normal;
}

footer {
    margin: 27px 0;
    font-size: 14px;
}
footer nav ul {
    width: 960px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #a8a8a8;
}
footer nav li {
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
}
footer nav a {
    color: #a8a8a8;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
